.ConfiguracoesPremiacoes{
    background: url(../../assets/background__configuracoes.jpg) no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 2em;
}