.horarios__vagos{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.light, .pro{
    padding: 1em;
    border-radius: 0px 0px 8px 8px;
    width: 250px;
}

.light{
    background-image: linear-gradient(to right, #00AE74 10%,#007F50 90%);
}

.pro{
    background-image: linear-gradient(to right, #FF0000 10%,#BA2A2A 90%);
}

.light>h2, .pro>h2{
    color: white;
    font-weight: 500;  
}
