@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.protesto{    
    background-image: url("../../assets/background__inscricao.jpg") ;
    background-position: center center;
    background-size: cover;
    font-family: 'Poppins';    

    color: white;
    .simuladores{
        display: flex;
    }
}

.informacao{
    margin-bottom: 2em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;  
    gap: 2em;

}

.dados{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    border: 2px solid white;
    width: 600px;    
    margin: 0 auto;
    background-color: #050505b7;

    label{
        width: 440px;
        margin: 1em auto;
        text-align: center;
    }

    input{
        font-size: 15px;
        border: white 3px solid;
        padding-left: 1.5em;
        background-color: transparent;
        height: 50px;
        width: 430px;
        text-align: left;
        color: white;        
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        margin-right: 4px;
    }

    button{
        width: 250px;
        height: 2.5em;
        background: transparent;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        margin: 2em auto;
    }   
}

