.etapas{
    display: flex;
    width: 600px;
    justify-content: space-between;

    img{
        width: 190px;
    }
}

.datas{
    background-image: linear-gradient(to right, #282828 30%,#4F4F4F 70%);
    display: flex;
    justify-content: center;
    gap: 0.5em;
    border-radius: 8px 8px 0px 0px;
    padding: 0.2em;
    color: white;

    img{
        height: 1em;
        width: 1em;
    }
}