.sobre {
    background-image: url("../../assets/background__sobre.png");
    background-size: cover;
    background-position: center center;
    background-color: #2C3133;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__conhecaOGrid {
        h2 {
            color: #00D45A;
            font-weight: 800;
            margin: 1em;
        }

        p {
            color: white;
        }
    }

    h3{
        color: white;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h3>strong{
        font-weight: 600;
    }
}




