.download__tutorial{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("img/background__download.png"); 
    background-color: #0d2b70;
    background-position: center center;
    background-size: cover;
    color: white;
}

.download__tutorial>img{
    margin: 1em;
    width: 400px;
}

.download__tutorial>h3{
    font-size: 20px;
}

.download__tutorial>h2{
    color: #00AF76;
    font-weight: 600;
    font-size: 25px;
}

.arquivos{
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    width: 280px;
}

.arquivos>a{
    background-color: #00BF7B;
    font-size: 10px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5em 1.2em;
    border-radius: 20px;
}