.carros{
    background-color: black;
    height: 200px;
    width: 600px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: white solid 1px;
    border-bottom: 1px;
    border-radius: 8px 8px 0px 0px;
    justify-content: space-around;
    
    &__subtitulo>img{
        height: 80px;
        width: 250px;
        margin-bottom: 1em;
    }
}


